<div class="user info">
    <% if (user.photo) { %>
        <img src="./media/users/<%= user.photo %> " alt="" />
    <% } else { %>
        <img src="./images/avatar.png" alt="">
    <% } %>
    <h3><%= user.name %> </h3>
        <% if (message) { %>
            <p> <%= message %>  </p>
        <% } %>
</div>